*{
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-size: 15.2px;
    
  }
  
  @font-face {
    font-family:'fonte' ;
    src: url('fonte/Saiyan-Sans.ttf') format('truetype');
  
  }





  #logar{ 
    text-decoration: none;
    border: none;
    border-radius: 0.36em;
    color: white;
    background-color: #d7120b;
    padding: 0.4em 3em;
    margin: 0.5em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  
  
  #logar:hover, input[type=submit]:hover{
    background-color: #f7d501;
  }




#o_menu li:hover {
    visibility: visible;
    border-radius: 0.5em;
}

.icon{
    width: 2.1em;
  padding-top: 6px;
  padding-left: 6px;
  
}

  #botao{
    background-color: #d7120b;
  }
  #fonte{
    font-family: 'fonte';
  font-size: 2em;
  color: #d7120b;
  text-shadow: #f7d501 0.01em 0.01em 0.1em;
  }
  #produto{
    border: solid 4px;

  }
  #funko{
    width: 14em;
    height: 11em;

  }
  
 
  #roupas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }


  #titulo_roupa{
    font-size: 20px;
    margin-bottom: 6px;
  }

  #img_roupa{
    width: 240px;
    height: 144px;
  }

  #valor_roupa{
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #valor{
    margin-right: 12px;
    font-family: sans-serif;
    font-weight: bold;
  }

  #carrinho{
    width: 100%;
    border-collapse: collapse;
  }

  #itens{
    text-align: start;
    border-bottom: 1px solid #959595;
    padding-bottom: 6px;
    text-transform: uppercase;
  }

 #preco,
 #qtd{
  width: 26%;
 }


 #quantidade{
  width: 48px;
  height: 34px;
  border-radius: 6px;
  border: 2px solid #d7120b;
  text-align: center;
  background-color: #eee;
 }

#total{
  border-top: 1px solid #959595;
  text-align: end;
  padding: 6px 16px 0 0;
  font-size: 18px;
}

#total strong{
  margin-right: 12px;
}

.remove-product-button {
  margin-left: 12px;
  background: #ff0000;
  color: var(--white);
  padding: 10px 8px;
  border: 0;
  border-radius: 6px;

  transition: filter 0.2s;
}

.remove-product-button:hover {
  filter: brightness(0.8);
}

.remove-product-button {
  display: block;
  margin: 8px auto 0;
}


.product-qtd-input {
  width: 48px;
  height: 34px;
  border-radius: 6px;
  border: 2px solid var(--blue);
  text-align: center;
  background: #eee;
}

.product-qtd-input {
  display: block;
  margin: 0 auto;
}


.cart-product-image {
  width: 14em;
    height: 11em;
}
